.navbar {
    background: #a3c8d6;
}

.lightgray {
    background: #ececec;
}

.side-section {
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    background: #66d9ff;
    border-color: #00c2fa;
}

.featured-section {
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    background: #ecbf48;
    border-color: #e5a701;
}

.padding {
    padding: 7px;
}

.center {
    margin: auto;
}

.menuitem {
    display: inline-block;
}

.nomargin {
    margin: 0 !important;
}

#left{float:left;}
#right{float:right;}
#center{margin:0 auto;}
