.navbar {
    background: #a3c8d6;
}

.lightgray {
    background: #ececec;
}

.side-section {
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    background: #66d9ff;
}

.featured-section {
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    background: #ecbf48;
}

.padding {
    padding: 7px;
}