<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title and meta -->
    <title>ReferralShare</title>
    <meta name="description" content="Referral link sharing platform for kind people everywhere. Earn passive income & gain access to discounts by using & sharing referral links! Use random referral links!">

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Google Font for Lexend Deca -->
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>

    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="../static/styles.css">

    <!-- Hover -->
    <link href="static/hover.css" rel="stylesheet">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid darklight padding" style="text-align: center;">
        <div class="row">
            <div class="col-sm-12 col-md-4" style="padding: 0px;">
                <a href="/" style="padding: 0px; text-decoration: none; font-weight: bold; font-size: xx-large;">ReferralShare</a>
            </div>
            <div class="col-sm-6 col-md-4 order-md-first" style="padding: 0px;">
                <a href="/blog" style="padding: 0px; margin-right: 10px; float: right; text-decoration: none; font-weight: bold; font-size: x-large;">News & Blog</a>
            </div>
            <div class="col-sm-6 col-md-4" style="padding: 0px;">
                <a href="/profile" style="padding: 0px; margin-left: 10px; float: left; text-decoration: none; font-weight: bold; font-size: x-large;">Add Your Link</a>
            </div>
        </div>
    </div>
    <div class="container-fluid darkblue padding" style="text-align: center;">
        <div class="row">
            <div class="col-sm-12">
                <h6 class="margin">Click on any of the boxes to be sent to a random user's referral link!</h6>
            </div>
        </div>
    </div>

    <div id="maincontent" class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 padding">
                <div class="row featured-section">
                    <div class="col-sm-12 col-md-6 featured-section-left">
                        <div class="service hvr-shadow" onclick="window.open('referrals/amazon', '_blank');" style='background-color: whitesmoke; border-color: rgb(255, 153, 0);'>
                            <img src="/static/services/amazonlogo.png">
                            <h6>Earn a random user a small bonus, at no cost to you!</h6>
                        </div>
                        <div class="padding"></div>
                        <div class="service hvr-shadow" onclick="window.open('referrals/airbnb', '_blank');" style='background-color: rgb(255, 90, 96); border-color: whitesmoke;'>
                            <img src="/static/services/airbnblogo.png">
                            <h6 style="color: whitesmoke;">Earn $35 off your first trip!</h6>
                        </div>
                    </div>
                    <div class="padding-dynamic"></div>
                    <div class="col-sm-12 col-md-6 featured-section-right">
                        <div class="service hvr-shadow" onclick="window.open('referrals/sofi_money', '_blank');" style='background-color: whitesmoke; border-color: rgb(0, 169, 207);'>
                            <img src="/static/services/sofilogo.png">
                            <h6 style="color: rgb(0, 169, 207);">Free $25 after depositing just $500 into your new SoFi Money Account</h6>
                        </div>
                    </div>
                    <div class="sectionlabel" style="background-color: #e3c91d; color: whitesmoke; text-shadow: 0px 0px 10px whitesmoke;">
                        <h1 style="font-weight: bold;">Featured</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 order-md-first padding">
                <div class="side-section">
                    <div class="service hvr-shadow" onclick="window.open('referrals/Sofi_invest', '_blank');" style='background-color: whitesmoke; border-color: rgb(0, 169, 207);'>
                        <img src="/static/services/sofilogo.png">
                        <h6 style="color: rgb(0, 169, 207);">Free $50 after depositing $1000 into your new SoFi Invest Account</h6>
                    </div>
                    <div class="padding"></div>
                    <div class="service hvr-shadow" onclick="window.open('referrals/robinhood', '_blank');" style='background-color: rgb(32, 206, 153); border-color: whitesmoke;'>
                        <img src="/static/services/robinhoodlogo.png">
                        <h6 style="color: whitesmoke;">Earn a FREE stock for signing up! Chance of FB, MSFT, Visa, etc.</h6>
                    </div>
                    <div class="sectionlabel">
                        <h3>Money & Finance</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 padding">
                <div class="side-section">
                    <div class="service hvr-shadow" onclick="window.open('referrals/grubhub', '_blank');" style='background-color: rgb(255, 0, 0); border-color: whitesmoke;'>
                        <img src="/static/services/grubhublogo.png">
                        <h6 style="color: whitesmoke;">Earn $10 credit off your next food order when you sign up!</h6>
                    </div>
                    <div class="padding"></div>
                    <div class="service hvr-shadow" onclick="window.open('referrals/doordash', '_blank');" style='background-color: whitesmoke; border-color: rgb(255, 47, 6);'>
                        <img src="/static/services/doordashlogo.png">
                        <h6 style="color: rgb(255, 47, 6);">Earn $7 credit off your next food order when you sign up!</h6>
                    </div>
                    <div class="padding"></div>
                    <div class="service hvr-shadow" onclick="window.open('referrals/uber', '_blank');" style='background-color: black; border-color: whitesmoke;'>
                        <img src="/static/services/uberlogo.png">
                        <h6 style="color: whitesmoke;">Get up to $2 off on each of your first 3 rides when you sign up!</h6>
                    </div>
                    <div class="sectionlabel">
                        <h3>Food & Travel</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>